# TEMPLATE

- background audio (1 atau lebih)
- font 
    ~ latin
    ~ arabic
    + rekomendasi
        >_ https://fonts.google.com/
        >_ https://fonts.google.com/?subset=arabic
        >_ https://www.fontsquirrel.com/
        >_ https://www.1001freefonts.com/
- color palette/theme
    + rekomendasi
        >_ https://color.adobe.com/explore
        >_ https://colordesigner.io/color-palette-from-image
        >_ https://dribbble.com
- background image/image in general
    + rekomendasi
        >_ https://pixabay.com/
        >_ https://unsplash.com/explore
        >_ https://www.freepik.com/
- icons
    + lihat di
        >_ https://react-icons.github.io/react-icons/
- animation and behaviour
    + lihat di
        >_ https://animate.style/
- website content


* jika ada tambahan, katakan saja, na'am
