@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'yaquote';
    src: url('assets/yaquotescript_personaluse-webfont.woff2') format('woff2'),
         url('assets/yaquotescript_personaluse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dc';
    src: url('assets/DancingScript-Regular.woff2') format('woff2'),
        url('assets/DancingScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
